In [1]:
import pandas as pd
import numpy as np
import requests
import bs4

In [2]:
#import books csv and drop the image variables
#drop rows where data was uninterpretable due to translations from a given langauage code
#we also need to figure out what books may possibly have titles that are uninterpretable
#we drop those books as well
#we also create a new column for the main author of the book
#we are left with 9,920 books
books = pd.read_csv("books.csv").drop(['image_url', 'small_image_url'], axis =1)

broken_titles = []
for i, j in enumerate(books.title):
    if '??' in j or books.language_code[i] in ['ara', 'fil', 'per', 'pol', 'rus']:
        broken_titles.append(books.book_id[i])
        
books = books[~books.book_id.isin(broken_titles)]
main_authors = []
for i in books.authors:
    main_authors.append(i.split(',')[0])
    
books['main_author'] = main_authors
books.to_csv('new_books.csv')

In [3]:
books.head()

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,main_author
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4.34,4780653,4942365,155254,66715,127936,560092,1481305,2706317,Suzanne Collins
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4.44,4602479,4800065,75867,75504,101676,455024,1156318,3011543,J.K. Rowling
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3.57,3866839,3916824,95009,456191,436802,793319,875073,1355439,Stephenie Meyer
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,4.25,3198671,3340896,72586,60427,117415,446835,1001952,1714267,Harper Lee
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,3.89,2683664,2773745,51992,86236,197621,606158,936012,947718,F. Scott Fitzgerald

In [4]:
#import book tags
#dropping unecessary/redundant tags (e.g. to-need, favorites)
#loop over to find the top 3 categories for each book
#we then give labels to each of the three categories

book_tags = pd.read_csv('book_tags.csv')
book_tags = book_tags[~book_tags.tag_id.isin([26894, 30574, 11557, 8717, 17213,17260, 32989, 17234, 3389,6888,4949,5207,22743, 21773,2104, 9221])]
top_three = pd.DataFrame()
for i in book_tags.goodreads_book_id.unique():
    top = book_tags[book_tags.goodreads_book_id == i].sort_values(by = ['count'], ascending = False)[:3]
    top_three = pd.concat([top_three, top])
    

top_three.index = range(30000)
top_three['theme'] = 'empty'
for i in range(0, len(top_three.index), 3):
    top_three.loc[i, 'theme'] = 'primary'
    top_three.loc[i+1,'theme'] = 'secondary'
    top_three.loc[i+2, 'theme'] = 'tertiary'

In [5]:
#rotate the df to have variable for each label
genre = top_three.pivot(index='goodreads_book_id', columns='theme', values='tag_id')
genre = genre[~genre.index.isin(broken_titles)]
genre

theme              primary  secondary  tertiary
goodreads_book_id
1                    11305      33114     11743
2                    11305       6857     11743
3                    11305      33114     11743
5                    11305      33114     11743
6                    11305      33114     11743
8                    11305      14017     33114
10                   11305      11743     14017
11                   26837      26771     11743
13                   26837      26771     11743
21                   14552      21689     26816
24                   31155      21689     15048
25                   15048      19733     10891
26                   31155      21689     15048
27                   31155      21689     15048
28                   31155      21689     15048
29                   21689      15048     14552
30                   11743       7404     11305
33                   11305       7457     11743
34                   11305       7457     11743
36                   11305      30909      2938
50                   33114      11743      1691
67                   14487      24609     11743
93                    7457       6953     11743
98                   23005       3739     21689
105                  26837      26771     11743
106                  11743      11305     26837
112                  26837      26771     11743
117                  26837      26771     11743
119                  11305       2938     30909
122                  11743      14487      1746
...                    ...        ...       ...
29632984             11743      20939      8055
29639736             11743      20939     26138
29780253             21689      19733      4605
29868610             21689      19733     15048
29906980             11743      14487      3371
29925715             20939      11743     21339
29975458             11743      20939     30358
29981261             30358      20939     14821
29991719             26138       8055     21387
30002998             21529      26138     11743
30008702             11743       8055     18326
30065028             11305      14017     11743
30226723             11305      33114     27199
30253700             21387      26138      7668
30253864             21689      19733      3392
30314465              9022      30358     11743
30364931             26138      21387      8055
30555488             14487      11743     14467
30831912             11305      21024     11743
30839185             26138       8076     21387
31140847             26138       8076      8055
31176886             30358      11743     20939
31194270             11743      20939     30358
31538614             11305      27669     14017
31538635             11305      27669     14017
31538647             11305      27669     14017
31845516             19733      21689     19742
32075671             33114       8055     11743
32848471             12680      21387     22219
33288638             26138       8055      8076

[9920 rows x 3 columns]

In [6]:
#import the tags df
#converting the tags df to a dictionary & selecting the tag-name sub-dictionary
tags = pd.read_csv("tags.csv")
tags = tags.to_dict()
tags = tags['tag_name']
tags
#print(tags[tags.tag_name.isin(['to-read'])]) (code to figure out what tag goes with which code)

{0: '-',
 1: '--1-',
 2: '--10-',
 3: '--12-',
 4: '--122-',
 5: '--166-',
 6: '--17-',
 7: '--19-',
 8: '--2-',
 9: '--258-',
 10: '--3-',
 11: '--33-',
 12: '--4-',
 13: '--5-',
 14: '--51-',
 15: '--6-',
 16: '--62-',
 17: '--8-',
 18: '--99-',
 19: '--available-at-raspberrys--',
 20: '-2001--',
 21: '-calif--',
 22: '-d-c--',
 23: '-dean',
 24: '-england-',
 25: '-fiction',
 26: '-fictional',
 27: '-fictitious',
 28: '-football-',
 29: '-george',
 30: '-gr-',
 31: '-history',
 32: '-imaginary',
 33: '-italy-',
 34: '-la--',
 35: '-los',
 36: '-mass--',
 37: '-murder-',
 38: '-n-y--',
 39: '-non-poetry-',
 40: '-performing',
 41: '-post',
 42: '-psychology-',
 43: '-read',
 44: '-single',
 45: '-specific',
 46: '-television',
 47: '0',
 48: '0-0-0-0cant-find',
 49: '0-0-bingo',
 50: '0-4-star-rating',
 51: '0-a-find-2016-summer-00',
 52: '0-all2',
 53: '0-best-picture-younger',
 54: '0-boxed',
 55: '0-c',
 56: '0-eric-s-books',
 57: '0-house-lbkc',
 58: '0-kindle',
 59: '0-love-funny',
 60: '0-made-me-cry-moved-me',
 61: '0-nonfiction',
 62: '0-owned',
 63: '0-paperback',
 64: '0-pgs-200-to-299',
 65: '0-physical-own',
 66: '0-plays',
 67: '0-plc',
 68: '0-tbr-axz-usa',
 69: '00-exploring-1',
 70: '00-graphic-novels-read',
 71: '00-in-class',
 72: '00-to-read-00',
 73: '00-to-read-02',
 74: '0000',
 75: '0000-to-buy',
 76: '00000',
 77: '0000_notverified',
 78: '000src-su-25-11-3-x',
 79: '000src-w-15-01-i-me-mine',
 80: '001-150-pages',
 81: '001-ebook',
 82: '002-read-cookbook',
 83: '002-une-bonne-selection',
 84: '007',
 85: '008-strategy',
 86: '01',
 87: '01-alphabet-authors',
 88: '01-distopias',
 89: '01-ecookbooks',
 90: '01-folklore',
 91: '01-irl-bookshelf-comics',
 92: '01-mine',
 93: '01-words',
 94: '016-sam-j-miller',
 95: '01_best-books',
 96: '02-500-750',
 97: '02-black-exp',
 98: '02-fantasy',
 99: '02-folklore',
 100: '02-to-read-speculative-fiction',
 101: '02-words-sb',
 102: '0201-0300-pages',
 103: '029-نجيب-محفوظ',
 104: '03-20thcentury-american-lit',
 105: '03-classic-fairy',
 106: '03-classic-fairy-tales',
 107: '03-informational',
 108: '03-sami-lukematta',
 109: '03-star',
 110: '03-words-sc',
 111: '04-babies-and-toddlers',
 112: '04-caldecott',
 113: '04-easy-to-read-books',
 114: '04-preschoolers',
 115: '04-realistic-fiction',
 116: '04-star',
 117: '04-stars',
 118: '0471239720',
 119: '05-high-fantasy',
 120: '05ip9hg',
 121: '06-not-my-kind-of-book',
 122: '06-traditional',
 123: '07-hist-fiction',
 124: '07-modern-fantasy',
 125: '07-まんが-ほか',
 126: '08-childhood-ya',
 127: '08-realistic-fiction',
 128: '08-words-ns',
 129: '0fiction-incomplete-series',
 130: '0nonfiction',
 131: '0want-it',
 132: '0wn',
 133: '0wned',
 134: '1',
 135: '1-0-1-9',
 136: '1-000-books-before-kindergarten',
 137: '1-1',
 138: '1-10',
 139: '1-12',
 140: '1-2',
 141: '1-4',
 142: '1-5-stars-all-genres',
 143: '1-ab-a-a-bookcount-5',
 144: '1-and-2-stars',
 145: '1-art-modern',
 146: '1-at-school',
 147: '1-ax-a-a-bookscouter-1',
 148: '1-b',
 149: '1-books-i-own',
 150: '1-bx-libraries',
 151: '1-children-ya',
 152: '1-chronicles',
 153: '1-classic-literature',
 154: '1-favorites',
 155: '1-fiction',
 156: '1-gen-lit',
 157: '1-have',
 158: '1-in-3',
 159: '1-in-series',
 160: '1-jordan-peterson',
 161: '1-kindle',
 162: '1-ladies-detective-agency',
 163: '1-ladys-detective-agency',
 164: '1-lifestyle',
 165: '1-manga-manhwa-manhua-series-done',
 166: '1-my-ex-collection',
 167: '1-my-extra-longlist',
 168: '1-novellas-short-stories-essays',
 169: '1-of-best-books-ever',
 170: '1-of-trilogy',
 171: '1-own',
 172: '1-owned',
 173: '1-owned-books',
 174: '1-owning',
 175: '1-read-bookshelf',
 176: '1-read-duplicate',
 177: '1-star',
 178: '1-stars',
 179: '1-stephen-king',
 180: '1-the-best-to-read',
 181: '1-to-buy',
 182: '1-to-read-crime',
 183: '1-to-sort',
 184: '1-year-52-plays',
 185: '1-year-challenge',
 186: '10',
 187: '10-aussie-books-to-read-before-you',
 188: '10-next',
 189: '10-words-ns',
 190: '100',
 191: '100-best-books',
 192: '100-best-books-of-all-time',
 193: '100-best-books-of-all-time-the-worl',
 194: '100-best-business-books',
 195: '100-best-novels',
 196: '100-best-novels-list',
 197: '100-best-novels-modern-library',
 198: '100-book-challenge',
 199: '100-books',
 200: '100-books-bbc',
 201: '100-books-every-man-should-read',
 202: '100-books-i-own-for-2017',
 203: '100-books-that-define-the-00-s',
 204: '100-books-to-read',
 205: '100-books-to-read-before-you-die',
 206: '100-books-to-read-in-a-lifetime',
 207: '100-books-to-read-my-version',
 208: '100-bullets',
 209: '100-children-s-books',
 210: '100-essential-novels',
 211: '100-essential-novels-poster',
 212: '100-fiction',
 213: '100-greatest',
 214: '100-greatest-books-ever-written',
 215: '100-greatest-novels',
 216: '100-in-100-list',
 217: '100-modern-library',
 218: '100-must-read-books',
 219: '100-must-read-books-the-essential',
 220: '100-novels-everyone-should-read',
 221: '100-recommended',
 222: '100-year-war',
 223: '100-years-war',
 224: '1000',
 225: '1000-book-before-kindergarten',
 226: '1000-book-goal',
 227: '1000-books',
 228: '1000-books-before-kindergarten',
 229: '1000-books-to-read-before-you-die',
 230: '1000-by-k',
 231: '1000-good-books-1-3',
 232: '1000-harry',
 233: '1000-novels',
 234: '1000-plus-pages',
 235: '1000s-1300s',
 236: '1001',
 237: '1001-before-you-die',
 238: '1001-book',
 239: '1001-book-list',
 240: '1001-books',
 241: '1001-books-2006',
 242: '1001-books-before-die',
 243: '1001-books-before-you-die',
 244: '1001-books-challenge',
 245: '1001-books-i-have-read',
 246: '1001-books-list',
 247: '1001-books-read',
 248: '1001-books-to-read',
 249: '1001-books-to-read-before-adult',
 250: '1001-books-to-read-before-i-die',
 251: '1001-books-to-read-before-you-die',
 252: '1001-books-you-must-read',
 253: '1001-books-you-must-read-b4-you-die',
 254: '1001-books-you-must-read-before-you',
 255: '1001-bymrbyd',
 256: '1001-challenge',
 257: '1001-children-s-books',
 258: '1001-children-s-books-you-must-read',
 259: '1001-childrens-books',
 260: '1001-comics',
 261: '1001-import',
 262: '1001-kids-5plus',
 263: '1001-kids-8plus',
 264: '1001-kids-books',
 265: '1001-libri',
 266: '1001-libri-da-leggere',
 267: '1001-list',
 268: '1001-must-read',
 269: '1001-must-read-books',
 270: '1001-must-reads',
 271: '1001-read',
 272: '1001-to-read',
 273: '1001-to-read-before-you-die',
 274: '1001-unread',
 275: '1001books',
 276: '1009',
 277: '101-bibles-tools',
 278: '101-books-that-you-must-read-before',
 279: '101-books-to-read-before-you-die',
 280: '101-à-lire-dans-sa-vie',
 281: '101st-airborne',
 282: '102-miscellaneous',
 283: '10th-century',
 284: '10th-grade',
 285: '10th-grade-advisory',
 286: '10th-grade-books',
 287: '10th-grade-reading',
 288: '11',
 289: '11-birthdays',
 290: '11-disabilities',
 291: '11-in-class',
 292: '11-november-2014-15-16',
 293: '110',
 294: '1100s',
 295: '111',
 296: '1111',
 297: '11th-century',
 298: '11th-grade',
 299: '11th-grade-advisory',
 300: '12',
 301: '12-dancing-princesses',
 302: '12-in-series',
 303: '12-religious',
 304: '12017',
 305: '123',
 306: '123-zzz',
 307: '12th-century',
 308: '12th-grade',
 309: '12th-grade-books',
 310: '12th-grade-reading',
 311: '13',
 312: '13-16',
 313: '13-25',
 314: '13-gifts',
 315: '13-in-series',
 316: '1395',
 317: '13th-century',
 318: '14',
 319: '14-in-series',
 320: '1400s',
 321: '140924-150913-r351',
 322: '1421',
 323: '1421-1737',
 324: '1438-2016',
 325: '1452-1519',
 326: '14th',
 327: '14th-century',
 328: '14艺术美学',
 329: '15-16-school-year',
 330: '15-in-series',
 331: '15-with-subtitle',
 332: '15-words-ns',
 333: '150-best',
 334: '1500s',
 335: '150321-160409-r',
 336: '1507-office',
 337: '1537-1553',
 338: '1543',
 339: '1564-1616',
 340: '158-1',
 341: '15th-century',
 342: '16',
 343: '1600',
 344: '1600s',
 345: '1643-1715',
 346: '1660s',
 347: '1665-harvard-grad',
 348: '16th-18th-century',
 349: '16th-c',
 350: '16th-century',
 351: '16th-century-setting',
 352: '17',
 353: '17-children-s-book',
 354: '17-cottonwood-corner',
 355: '17-in-series',
 356: '1700s',
 357: '1702-1714',
 358: '1775-1783',
 359: '1775-1800',
 360: '1776',
 361: '1790s',
 362: '17th-century',
 363: '17th-century-england',
 364: '17th-century-germany',
 365: '18',
 366: '18-books-every-white-ally-should-re',
 367: '18-creativity',
 368: '1800',
 369: '1800-1900',
 370: '1800-s-massachusetts',
 371: '1800s',
 372: '1812-1870',
 373: '1820s',
 374: '1830s',
 375: '1840s',
 376: '1844-1900',
 377: '1850-s',
 378: '1850s',
 379: '1851-1900',
 380: '1854',
 381: '1860s',
 382: '1863',
 383: '187',
 384: '1870s',
 385: '1871-1945',
 386: '1880s',
 387: '1883-1924',
 388: '1888-1955',
 389: '1890s',
 390: '18th',
 391: '18th-c',
 392: '18th-century',
 393: '18th-century-japan',
 394: '18th-century-literature',
 395: '19',
 396: '19-in-alex-cross-series',
 397: '1900',
 398: '1900-s',
 399: '1900-storm',
 400: '1900s',
 401: '1900s-farm-life',
 402: '1904',
 403: '1907-sahin-library-Şahİn-kİtapliĞi',
 404: '1908',
 405: '1910s',
 406: '1914',
 407: '1914-1918',
 408: '1915',
 409: '1919',
 410: '1920-',
 411: '1920-1930',
 412: '1920-30-s-british-period-mystery',
 413: '1920-s',
 414: '1920s',
 415: '1920s-1930s',
 416: '1930-1939',
 417: '1930-s',
 418: '1930-s-depression-era',
 419: '1930-s-great-depression',
 420: '1930s',
 421: '1932',
 422: '1933-and-present-time',
 423: '1934',
 424: '1938-hurricane',
 425: '1939',
 426: '1939-1945',
 427: '1940-1945',
 428: '1940-1949',
 429: '1940-to-1949',
 430: '1940s',
 431: '1940s-britain',
 432: '1942',
 433: '1945',
 434: '1945-',
 435: '1946',
 436: '1946-',
 437: '1948',
 438: '1948-',
 439: '1950-s',
 440: '1950-s-1960-s-childhood',
 441: '1950-s-english-village-life',
 442: '1950s',
 443: '1950s-america',
 444: '1953-2004',
 445: '1958',
 446: '1958-',
 447: '1959',
 448: '1960-1969',
 449: '1960-s',
 450: '1960s',
 451: '1960s-counterculture',
 452: '1960s-women-s-status',
 453: '1961-1974',
 454: '1961-1975',
 455: '1963',
 456: '1966',
 457: '1969-1974',
 458: '1970',
 459: '1970-1979',
 460: '1970-s',
 461: '1970s',
 462: '1971',
 463: '1974',
 464: '1975',
 465: '1975-1979',
 466: '1976',
 467: '1977',
 468: '1978',
 469: '1979',
 470: '1980',
 471: '1980-1989',
 472: '1980-s',
 473: '1980s',
 474: '1981',
 475: '1982',
 476: '1983',
 477: '1983-2005',
 478: '1984',
 479: '1985',
 480: '1986',
 481: '1987',
 482: '1988',
 483: '1989',
 484: '1990',
 485: '1990-1999',
 486: '1990-s-books',
 487: '1990s',
 488: '1991',
 489: '1992',
 490: '1992-1993',
 491: '1992-riots-in-l-a',
 492: '1993',
 493: '1993-2001',
 494: '1994',
 495: '1994-read-books',
 496: '1995',
 497: '1995-read-books',
 498: '1996',
 499: '1997',
 500: '1998',
 501: '1998-modern-library-100-best',
 502: '1998-read-books',
 503: '1999',
 504: '1999-and-before',
 505: '1999-books',
 506: '19th',
 507: '19th-c',
 508: '19th-c-philosophy',
 509: '19th-century',
 510: '19th-century-american',
 511: '19th-century-americans-in-paris',
 512: '19th-century-british',
 513: '19th-century-british-literature',
 514: '19th-century-china',
 515: '19th-century-classics',
 516: '19th-century-england',
 517: '19th-century-fairy-tales',
 518: '19th-century-fiction',
 519: '19th-century-french-literature',
 520: '19th-century-history',
 521: '19th-century-lit',
 522: '19th-century-literature',
 523: '1a-toppicks-own',
 524: '1ab-bookcount-5',
 525: '1ax-sorting-7-case-7b',
 526: '1b-wantdigital',
 527: '1e-toppicks',
 528: '1k-books-before-kindergarten',
 529: '1kbbk',
 530: '1kindle-available',
 531: '1non-fiction',
 532: '1overdrive',
 533: '1postwar379404nf-other',
 534: '1q84',
 535: '1rhave',
 536: '1st',
 537: '1st-batch',
 538: '1st-book-of-series',
 539: '1st-books-or-main-shelf',
 540: '1st-century-bc',
 541: '1st-day-of-school',
 542: '1st-edition',
 543: '1st-grade',
 544: '1st-half-of-the-20th-century',
 545: '1st-in-a-new-trilogy-about-eve-dunc',
 546: '1st-in-a-series',
 547: '1st-in-series',
 548: '1st-joe-pickett',
 549: '1st-of-series',
 550: '1st-person-perspective',
 551: '1st-quarter',
 552: '1st-sheriff-walt-longmire',
 553: '1st-term',
 554: '1st-term-reading',
 555: '1st-trimester',
 556: '1st-up',
 557: '1to-read-to-buy',
 558: '1y-prayer',
 559: '1نجوم',
 560: '2',
 561: '2-0',
 562: '2-1-0-e-book',
 563: '2-5-oitnb-challenge',
 564: '2-5-stars',
 565: '2-business',
 566: '2-copies',
 567: '2-deadly-wonders-series',
 568: '2-háló-nagy',
 569: '2-in-series',
 570: '2-nah',
 571: '2-non-fiction',
 572: '2-read-in-highschool',
 573: '2-read-owned',
 574: '2-star',
 575: '2-stars',
 576: '2-states',
 577: '2-very-interested',
 578: '2-years-old',
 579: '2-ضباط',
 580: '20',
 581: '20-book-challenge',
 582: '20-books-to-read-in-your-20-s',
 583: '20-books-to-read-in-your-20s',
 584: '20-in-series',
 585: '20-mile-march',
 586: '20-prey-series',
 587: '20-s',
 588: '20-somethings',
 589: '20-year-old-murder',
 590: '200',
 591: '200-300pgs',
 592: '200-books-to-read-in-your-lifetime',
 593: '200-pages-or-under',
 594: '200-religion',
 595: '200-to-300',
 596: '200-to-300-pages',
 597: '2000',
 598: '2000-2009',
 599: '2000-2010',
 600: '2000-2012',
 601: '2000-2016',
 602: '2000-s',
 603: '2000s',
 604: '2000s-books',
 605: '2001',
 606: '2001-',
 607: '2001-2009',
 608: '2002',
 609: '2003',
 610: '2003-2013',
 611: '2004',
 612: '2004-books',
 613: '2004-read-books',
 614: '2004-wlt-gift',
 615: '2005',
 616: '2005-reads',
 617: '2006',
 618: '2006-2009',
 619: '2006-2010',
 620: '2006-2011-release',
 621: '2006-books',
 622: '2006-reads',
 623: '2007-2009',
 624: '2007-reads',
 625: '2008-2009',
 626: '2008-2010',
 627: '2008-before_add',
 628: '2008-book-challenge',
 629: '2008-books',
 630: '2008-broadened-horizons',
 631: '2008-down-releases',
 632: '2008-presidential-campaign',
 633: '2008-read',
 634: '2008-reads',
 635: '2008-us-presidential-campaign',
 636: '2008q1',
 637: '2009-book-challenge',
 638: '2009-book-list',
 639: '2009-books',
 640: '2009-national-book-award',
 641: '2009-q1',
 642: '2009-read',
 643: '2009-reads',
 644: '2009-wlt-gift',
 645: '2009q2',
 646: '2010-100',
 647: '2010-2011',
 648: '2010-2015',
 649: '2010-and-earlier',
 650: '2010-book-challenge',
 651: '2010-book-list',
 652: '2010-books',
 653: '2010-books-read',
 654: '2010-earlier',
 655: '2010-morrison-library-sale',
 656: '2010-newbery-award',
 657: '2010-read',
 658: '2010-reading-list',
 659: '2010-reads',
 660: '2010-release',
 661: '2010s',
 662: '2011-2012',
 663: '2011-2014',
 664: '2011-alex-award-winner',
 665: '2011-and-before',
 666: '2011-and-earlier',
 667: '2011-books',
 668: '2011-books-read',
 669: '2011-newbery-winner',
 670: '2011-read',
 671: '2011-reads',
 672: '2011-release',
 673: '2011-releases',
 674: '2012-2013',
 675: '2012-2013-book-club',
 676: '2012-2013-first-marking-quarter',
 677: '2012-2013-fourth-marking-quarter',
 678: '2012-2013-school-year',
 679: '2012-2013-second-marking-quarter',
 680: '2012-2013-third-marking-quarter',
 681: '2012-40-book-challenge',
 682: '2012-and-before',
 683: '2012-and-earlier',
 684: '2012-book-challenge',
 685: '2012-book-list',
 686: '2012-books',
 687: '2012-books-read',
 688: '2012-challenge',
 689: '2012-cover-to-cover',
 690: '2012-dac',
 691: '2012-debut-author-challenge',
 692: '2012-forty-book-challenge',
 693: '2012-publication',
 694: '2012-read',
 695: '2012-reading-challenge',
 696: '2012-reading-list',
 697: '2012-readings',
 698: '2012-reads',
 699: '2012-release',
 700: '2012-releases',
 701: '2012-tournament-of-books',
 702: '2012-عربي',
 703: '2013-14',
 704: '2013-2012',
 705: '2013-2014',
 706: '2013-all',
 707: '2013-and-before',
 708: '2013-and-earlier',
 709: '2013-book-challenge',
 710: '2013-book-list',
 711: '2013-books',
 712: '2013-books-read',
 713: '2013-challenge',
 714: '2013-debut-author-challenge',
 715: '2013-favorites',
 716: '2013-hub-reading-challenge',
 717: '2013-publication',
 718: '2013-read',
 719: '2013-reading-challenge',
 720: '2013-reading-list',
 721: '2013-readings',
 722: '2013-reads',
 723: '2013-release',
 724: '2013-releases',
 725: '2013-third-marking-quarter',
 726: '2013-tob',
 727: '2013-tournament-of-books',
 728: '2014-2',
 729: '2014-2015',
 730: '2014-2015-school-year',
 731: '2014-2016',
 732: '2014-and-before',
 733: '2014-book-challenge',
 734: '2014-book-list',
 735: '2014-booker-longlist',
 736: '2014-books',
 737: '2014-books-completed',
 738: '2014-books-read',
 739: '2014-caudill',
 740: '2014-challenge',
 741: '2014-favorites',
 742: '2014-favourites',
 743: '2014-finished-reading',
 744: '2014-man-booker',
 745: '2014-movies',
 746: '2014-publication',
 747: '2014-read',
 748: '2014-read-books',
 749: '2014-reading-challenge',
 750: '2014-reading-list',
 751: '2014-reads',
 752: '2014-release',
 753: '2014-releases',
 754: '2014-to-read',
 755: '2014-tob',
 756: '2014-top-20',
 757: '2014-tournament-of-books',
 758: '2014-will-robbie-series-3',
 759: '2014-wom-flipping-the-pages',
 760: '2015-2',
 761: '2015-2016',
 762: '2015-2016-school-year',
 763: '2015-all-tr177',
 764: '2015-and-before',
 765: '2015-book-challenge',
 766: '2015-books',
 767: '2015-books-read',
 768: '2015-books-to-read',
 769: '2015-caudills',
 770: '2015-challenge',
 771: '2015-challenge-books',
 772: '2015-children-s-literature-2360',
 773: '2015-en-eerder-gelezen',
 774: '2015-favorites',
 775: '2015-jack-reacher-20',
 776: '2015-list',
 777: '2015-onwards',
 778: '2015-or-before',
 779: '2015-publication',
 780: '2015-read',
 781: '2015-reading-challenge',
 782: '2015-reading-list',
 783: '2015-reads',
 784: '2015-release',
 785: '2015-releases',
 786: '2015-rmangas-comics',
 787: '2015-s-readings',
 788: '2015-summer-reading-list',
 789: '2015-this-is-now',
 790: '2015-to-read',
 791: '2015-tob',
 792: '2015-tournament-of-books',
 793: '2016-2017',
 794: '2016-2017-school-year',
 795: '2016-52-in-52',
 796: '2016-60-books',
 797: '2016-and-before-read-that-i-own',
 798: '2016-audiobooks',
 799: '2016-book-challenge',
 800: '2016-book-club',
 801: '2016-book-hauls',
 802: '2016-book-list',
 803: '2016-book-riot-challenge',
 804: '2016-booker-longlist',
 805: '2016-books',
 806: '2016-books-i-have-read',
 807: '2016-books-read',
 808: '2016-botb',
 809: '2016-challenge',
 810: '2016-comics',
 811: '2016-completed',
 812: '2016-end-of-year-challenge',
 813: '2016-favorites',
 814: '2016-favourites',
 815: '2016-favs',
 816: '2016-hub-challenge',
 817: '2016-hub-reading-challenge',
 818: '2016-list',
 819: '2016-movies',
 820: '2016-nora',
 821: '2016-old-book',
 822: '2016-publication',
 823: '2016-read',
 824: '2016-read-harder',
 825: '2016-read-harder-challenge',
 826: '2016-reading',
 827: '2016-reading-adventure',
 828: '2016-reading-chalange',
 829: '2016-reading-challenge',
 830: '2016-reading-list',
 831: '2016-reads',
 832: '2016-release',
 833: '2016-releases',
 834: '2016-santiago-read',
 835: '2016-tbr',
 836: '2016-to-read',
 837: '2016-tob',
 838: '2016-tournament-of-books',
 839: '2016-vt-reading-challenge',
 840: '2016-weg',
 841: '2016-yard-sale',
 842: '2016_challenge',
 843: '2017-2',
 844: '2017-a-z-challenge-friend-f',
 845: '2017-audio',
 846: '2017-audio-pdf',
 847: '2017-audio-read',
 848: '2017-audiobooks',
 849: '2017-bbw-dec',
 850: '2017-best-of',
 851: '2017-birthday-shelf',
 852: '2017-book-challenge',
 853: '2017-book-list',
 854: '2017-book-riot-read-harder-challeng',
 855: '2017-books',
 856: '2017-books-i-read-for-a-challenge-c',
 857: '2017-books-read',
 858: '2017-books-to-read',
 859: '2017-caudill',
 860: '2017-challenge',
 861: '2017-chunkster-challenge',
 862: '2017-comics',
 863: '2017-favorites',
 864: '2017-fiction',
 865: '2017-final',
 866: '2017-goal',
 867: '2017-goals',
 868: '2017-goodreads-challenge',
 869: '2017-keepers',
 870: '2017-ku-read',
 871: '2017-list',
 872: '2017-log',
 873: '2017-manga',

In [7]:
#impute the tag from the tag code
#we now have a data frame of the top three categories for each book
genre['primary'] = genre['primary'].map(tags)
genre['secondary'] = genre['secondary'].map(tags)
genre['tertiary'] = genre['tertiary'].map(tags)
genre

theme,primary,secondary,tertiary
goodreads_book_id,,,
1,fantasy,young-adult,fiction
2,fantasy,children,fiction
3,fantasy,young-adult,fiction
5,fantasy,young-adult,fiction
6,fantasy,young-adult,fiction
8,fantasy,harry-potter,young-adult
10,fantasy,fiction,harry-potter
11,science-fiction,sci-fi,fiction
13,science-fiction,sci-fi,fiction
21,history,non-fiction,science
24,travel,non-fiction,humor
25,humor,memoir,essays
26,travel,non-fiction,humor
27,travel,non-fiction,humor
28,travel,non-fiction,humor
29,non-fiction,humor,history
30,fiction,classic,fantasy
33,fantasy,classics,fiction
34,fantasy,classics,fiction
36,fantasy,tolkien,art
50,young-adult,fiction,adventure
67,historical-fiction,pulitzer,fiction
93,classics,childrens,fiction
98,parenting,baby,non-fiction
105,science-fiction,sci-fi,fiction
106,fiction,fantasy,science-fiction
112,science-fiction,sci-fi,fiction
117,science-fiction,sci-fi,fiction
119,fantasy,art,tolkien
122,fiction,historical-fiction,africa
...,...,...,...
29632984,fiction,mystery,contemporary
29639736,fiction,mystery,romance
29780253,non-fiction,memoir,biography
29868610,non-fiction,memoir,humor
29906980,fiction,historical-fiction,audio
29925715,mystery,fiction,netgalley
29975458,fiction,mystery,thriller
29981261,thriller,mystery,horror
29991719,romance,contemporary,new-adult
30002998,nicholas-sparks,romance,fiction
30008702,fiction,contemporary,literary-fiction
30065028,fantasy,harry-potter,fiction
30226723,fantasy,young-adult,series
30253700,new-adult,romance,college
30253864,non-fiction,memoir,audiobooks
30314465,david-baldacci,thriller,fiction
30364931,romance,new-adult,contemporary
30555488,historical-fiction,fiction,historical
30831912,fantasy,mythology,fiction
30839185,romance,contemporary-romance,new-adult
31140847,romance,contemporary-romance,contemporary
31176886,thriller,fiction,mystery
31194270,fiction,mystery,thriller
31538614,fantasy,short-stories,harry-potter
31538635,fantasy,short-stories,harry-potter
31538647,fantasy,short-stories,harry-potter
31845516,memoir,non-fiction,memoirs
32075671,young-adult,contemporary,fiction
32848471,funny,new-adult,office-romance
33288638,romance,contemporary,contemporary-romance

In [8]:
#import ratings csv
ratings = pd.read_csv('ratings.csv')
ratings = ratings[~ratings.book_id.isin(broken_titles)]
ratings.to_csv('new_ratings.csv')

#code below creates the sparse user by book ratings data set. 
#It is memory intensive so we opted to only select the users that have 5 or more ratings
#of those we only selected the first 5,000 to be a part of the user book matrix
users = ratings.groupby('user_id')['rating'].count()[ratings.groupby('user_id')['rating'].count() >= 5].index #change 5 to get list of users with a certain # of ratings
ratings = ratings[ratings.user_id.isin(users)]
user_book = pd.merge(books[['id', 'book_id', 'title']], ratings, left_on='id', right_on='book_id').drop(columns=['book_id_y', 'id'])
user_book['id'] = user_book.title +': ' + user_book.book_id_x.map(str)
user_book = user_book.drop(columns=['book_id_x', 'title'])
user_book_matrix = user_book.pivot_table(index='user_id', columns = 'id', values = 'rating', fill_value = 0)
#user_book_matrix.iloc[:5000].to_csv('user_book_matrix.csv')

In [9]:
#we combine the ratings and books df
#each observation represents a single rating
#we then look at the number of users, books, and ratings
#we have 927,005 ratings over 9,916 books and 35,367 individual users who have 5 or more ratings5


book_rating = pd.merge(ratings, books, left_on='book_id',right_on='id')
book_rating =book_rating.drop(['id', 'book_id_y'], axis = 1)
book_rating = book_rating.rename(columns={'book_id_x':'book_id'})

print(len(book_rating))
print(len(book_rating.user_id.unique()))
print(len(book_rating.book_id.unique()))

927330
35367
9920

In [10]:
#here is the main formula for creating the data set from google data
def google_book_data(key, start, stop):
    ### Our formula takes a list of titles and pulls out selected book meta data ###
    titles = []
    authors = []
    #we first pull out the the short titles to use for the Google API
    #we append the full titles and authors to the data frame
    for i, j in enumerate(books.groupby(['title', 'authors']).count().index):
        google_df.authors[i] = j[1].split(',')[0]
        google_df.titles[i] = j[0]
        titles.append(j[0].split(' (')[0])
        authors.append(j[1].split(',')[0])
    
    #we then iterate over the tiles to clean them up to use for the Google API
    for i in range(len(titles)):
        titles[i] = titles[i].replace('-', '')
        titles[i] = titles[i].replace(',', '')
        titles[i] = titles[i].replace('%', '')
        titles[i] = titles[i].replace('#', '')
        titles[i] = titles[i].replace('/', '+')
        titles[i] = titles[i].replace(' ', '+')
        if '+++' in titles[i]:
            titles[i] = titles[i].replace('+++', '+')
        if '++' in titles[i]:
            titles[i] = titles[i].replace('++', '+')
        authors[i] = authors[i].replace('?', '')
        authors[i] = authors[i].replace(' ', '+')
        
    
    #we then iterate over the titles and incorporate them into the Google API url
    #since google books API limits the number of requests to 1000 per day per project
    #e need to limit the number of request per key
    #we then use the try-except to pull out information and if our request fails it prints out the necessary information to fix it
    #if the code does not break then we pull out the data and update the data frame
    for i, x in enumerate(zip(titles[start:stop], authors[start:stop])):
        i = i + start
        url = str("https://www.googleapis.com/books/v1/volumes?q="+x[0]+'+inauthor:'+ x[1] +'&key='+key)
        book_info = requests.get(url)
        try:
            book_info = book_info.json()['items'][0]
        except:
            broken[i] = url
            print(i,url, titles[i],authors[i], book_info.status_code, book_info.content)
        else:
            if 'pageCount' in book_info['volumeInfo']:
                google_df.pages[i] = book_info['volumeInfo']['pageCount']
            else:
                google_df.pages[i] = np.NAN
            if 'categories' in book_info['volumeInfo']:
                google_df.genres[i] = book_info['volumeInfo']['categories'][0]
            else:
                google_df.genres[i] = np.NAN
            if 'publishedDate' in book_info['volumeInfo']:
                google_df.pub_date[i] = book_info['volumeInfo']['publishedDate']
            else:
                google_df.pub_date[i] = np.NAN
            if 'publisher' in book_info['volumeInfo']:
                google_df.publisher[i] = book_info['volumeInfo']['publisher']
            else:
                google_df.publisher[i] = np.NAN
            if 'averageRating' in book_info['volumeInfo']:
                google_df.google_ratings[i] = book_info['volumeInfo']['averageRating']
            else:
                google_df.google_ratings[i] = np.NAN
            if 'ratingsCount' in book_info['volumeInfo']:
                google_df.total_ratings[i] = book_info['volumeInfo']['ratingsCount']
            else:
                google_df.total_ratings[i] = np.NAN
            if 'maturityRating' in book_info['volumeInfo']:
                google_df.maturity[i] = book_info['volumeInfo']['maturityRating']
            else:
                google_df.maturity[i] = np.NAN
            if 'listPrice' in book_info['saleInfo']:
                google_df.price[i] = book_info['saleInfo']['listPrice']['amount']
            else:
                google_df.price[i] = np.NAN
            if 'isEbook' in book_info['saleInfo']:
                google_df.ebook[i] = book_info['saleInfo']['isEbook']
            else:
                google_df.ebook[i] = np.NAN
            return titles, authors

In [11]:
#we create a list of columns from the data we are pulling
#we also create an empty data frame to fill
col = ['titles', 'authors', 'pages', 'genres', 'pub_date', 'publisher', 'google_ratings', 'total_ratings', 'maturity', 'price', 'ebook']
google_df = pd.DataFrame(columns=col, index=range(10000))

In [12]:
#with this we are using the function to create the data frame
#since there is a limit on the number of requests we are allowd to make
#we recommend performing this in two days
#we might be able to speed up the process by narrowing the search, but by doing that there is more cleaning and errors we run into
#the code below does 500 requests per key
broken = {}
key = ['AIzaSyCdBQi1BCM8dq0aVPp1dbMuTDWw9l1N5BQ','AIzaSyCXc9Jt66oeEhp1zjvJ3xFU4O0KdBu8NWE',
'AIzaSyDkAFElQsWsc9LS0RsgDEhTzvKzBvxgh5s','AIzaSyA0yF8Ogo9C1-pO4L_jB6Of3vu5ivMc8Jw',
'AIzaSyCTWQvO4vrsptlfWibH3LSSHlIX_IioCts','AIzaSyBCmQrHC5L4HaDWf41wUJanhJJJUfYrLJM',
'AIzaSyCTNWNXaqNQLpW2HRUECgI3aEDnPbQmmSU','AIzaSyDZdFbL8lbTmfL5SsF9LS1MmGnmA1vqCOI',
'AIzaSyDzEJi3ht6dnhY-uao3ZeLDryQ3Z4EQrEU','AIzaSyDun82gDcJrPXAdeql6Wr6knqUqQ9s6gDc',
'AIzaSyCmD7hl-hnegCFlARsF2Hx4utNP2HgB6tI','AIzaSyBVWSNGpwSeh8bE-oVIGfCA5tNWHKwytcM',
'AIzaSyB8_82kY6THe0SG0j-FYq8ehsp0wyliQjU','AIzaSyDsebCBYkxXR1oofNjvYr71kXZBKnKOur0']
start = range(0, 10000, 750) 
stop = range(750, 10750, 750)

for i, j, k in zip(key, start, stop):
    print(j)
    #google_book_data(i, j, k)

0
750
1500
2250
3000
3750
4500
5250
6000
6750
7500
8250
9000
9750

In [13]:
#need code to fix the broken parts
#break the titles up by semi colon
#get rid of every puncuation for both titles and authors
#try it again
#however, if it doesn't work this time
#we will simply fill in NAN in the df
if len(broken.keys()) != 0: 
    for i in broken.keys():
        titles[i] = titles[i].split(':')[0]
        titles[i] = titles[i].replace('.', '')
        titles[i] = titles[i].replace("'", '')
        titles[i] = titles[i].replace('!', '')
        titles[i] = titles[i].replace(' ', '+')
        if '+++' in titles[i]:
            titles[i] = titles[i].replace('+++', '+')
        if '++' in titles[i]:
            titles[i] = titles[i].replace('++', '+')
        authors[i] = authors[i].replace('?', '')
        authors[i] = authors[i].replace(' ', '+')
        url = str("https://www.googleapis.com/books/v1/volumes?q="+titles[i]+'+inauthor:'+ authors[i]+'&key=AIzaSyCdBQi1BCM8dq0aVPp1dbMuTDWw9l1N5BQ')
        book_info = requests.get(url)
        try:
            book_info = book_info.json()['items'][0]
        except:
            google_df.pages[i] = np.NAN
            google_df.genres[i] = np.NAN
            google_df.pub_date[i] = np.NAN
            google_df.publisher[i] = np.NAN
            google_df.google_ratings[i] = np.NAN
            google_df.total_ratings[i] = np.NAN
            google_df.maturity[i] = np.NAN
            google_df.price[i] = np.NAN
            google_df.ebook[i] = np.NAN
        else:
            if 'pageCount' in book_info['volumeInfo']:
                google_df.pages[i] = book_info['volumeInfo']['pageCount']
            else:
                google_df.pages[i] = np.NAN
            if 'categories' in book_info['volumeInfo']:
                google_df.genres[i] = book_info['volumeInfo']['categories'][0]
            else:
                google_df.genres[i] = np.NAN
            if 'publishedDate' in book_info['volumeInfo']:
                google_df.pub_date[i] = book_info['volumeInfo']['publishedDate']
            else:
                google_df.pub_date[i] = np.NAN
            if 'publisher' in book_info['volumeInfo']:
                google_df.publisher[i] = book_info['volumeInfo']['publisher']
            else:
                google_df.publisher[i] = np.NAN
            if 'averageRating' in book_info['volumeInfo']:
                google_df.google_ratings[i] = book_info['volumeInfo']['averageRating']
            else:
                google_df.google_ratings[i] = np.NAN
            if 'ratingsCount' in book_info['volumeInfo']:
                google_df.total_ratings[i] = book_info['volumeInfo']['ratingsCount']
            else:
                google_df.total_ratings[i] = np.NAN
            if 'maturityRating' in book_info['volumeInfo']:
                google_df.maturity[i] = book_info['volumeInfo']['maturityRating']
            else:
                google_df.maturity[i] = np.NAN
            if 'listPrice' in book_info['saleInfo']:
                google_df.price[i] = book_info['saleInfo']['listPrice']['amount']
            else:
                google_df.price[i] = np.NAN
            if 'isEbook' in book_info['saleInfo']:
                google_df.ebook[i] = book_info['saleInfo']['isEbook']
            else:
                google_df.ebook[i] = np.NAN
else:
    print(len(broken.keys()))

0

In [14]:
#we then get rid of the extra rows we did not use
#google_df = google_df.iloc[:9916]

In [15]:
#we then combine the three data frames: books, genre, and google data
#we drop unneeded columns and rename the others

#book_data = pd.merge(google_df, books, left_on=['titles', 'authors'], right_on=['title', 'main_author'], how='left')
#book_data = book_data.drop(columns=['isbn', 'isbn13', 'authors_y','main_author', 'ratings_1', 'ratings_2', 'ratings_3', 'ratings_4', 'ratings_5'])
#books_df = pd.merge(book_data, genre, left_on='best_book_id', right_index=True, how = 'left')
#books_df = books_df.drop(columns=['best_book_id', 'work_id']).reset_index(drop = True)
#books_df = books_df.rename(columns={'authors_x': 'author', 'title':'short_title', 'total_ratings':'total_google_ratings', 'average_rating':'goodbook_rating', 'primary':'main_tag','secondary':'secondary_tag','tertiary':'minor_tag'})
#books_df.to_csv('book_features_data.csv')